*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:

radial-gradient(circle at top,#164e63,#020617 70%);

color:white;

font-family:'Poppins',sans-serif;

min-height:100vh;

}



body:before{

content:"";

position:fixed;

inset:0;

background-image:

radial-gradient(white 1px,transparent 1px);

background-size:90px 90px;

opacity:.08;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 8%;

}



.logo img{

width:220px;

filter:

drop-shadow(0 0 20px #22d3ee);

}



nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-family:'Cinzel';

}



.hero{

text-align:center;

padding:80px 8%;

}



.content{


max-width:900px;

margin:auto;

padding:60px;


background:

rgba(255,255,255,.08);


border:

1px solid rgba(255,255,255,.4);


border-radius:35px;


backdrop-filter:blur(15px);


}



.ornament{

font-size:35px;

color:#fff;

}



h1{

font-family:'UnifrakturCook';

font-size:65px;

}



h1 span{

color:#22d3ee;

}



p{

font-size:20px;

margin:25px;

}



button{

background:

linear-gradient(#e8d19c,#b89452);

border:

2px solid white;


padding:15px 40px;

border-radius:30px;

font-weight:bold;

cursor:pointer;


transition:.3s;

}



button:hover{

transform:scale(1.08);

box-shadow:0 0 30px #22d3ee;

}




.library{

padding:40px 8%;

text-align:center;

}



h2{

font-family:'Cinzel';

font-size:40px;

}



.pages{

font-family:'Cinzel';

font-size:30px;

color:#e8d19c;

margin:20px;

}



.cards{

display:flex;

gap:25px;

justify-content:center;

flex-wrap:wrap;

}



.card{

width:300px;

padding:30px;


background:

rgba(255,255,255,.08);


border:

1px solid white;


border-radius:25px;

}



.cover{

height:170px;

background:#0f172a;

border-radius:20px;

font-size:70px;

display:flex;

align-items:center;

justify-content:center;

}



footer{

text-align:center;

padding:40px;

opacity:.7;

}
