*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:
linear-gradient(
180deg,
#020617,
#082f49,
#0f172a
);

color:white;

font-family:'Poppins',sans-serif;

min-height:100vh;

overflow-x:hidden;

}


/* LUA */

.moon{

position:absolute;

width:380px;

height:380px;

background:white;

border-radius:50%;

right:10%;

top:80px;

opacity:.9;

box-shadow:
0 0 80px white;

}


/* partículas */

.particles{

position:fixed;

inset:0;

background-image:

radial-gradient(#fff 1px,transparent 1px);

background-size:70px 70px;

opacity:.15;

}



/* MENU */


header{

display:flex;

justify-content:space-between;

padding:30px 8%;

position:relative;

z-index:2;

}


.logo{

font-family:'UnifrakturCook';

font-size:45px;

color:#67e8f9;

}



nav a{

color:white;

margin-left:25px;

text-decoration:none;

}



/* HERO */


.hero{

display:flex;

justify-content:center;

padding:80px 8%;

}


.magic-frame{


text-align:center;

padding:70px;

background:

rgba(255,255,255,.08);


border:

2px solid rgba(255,255,255,.4);


border-radius:40px;


backdrop-filter:blur(20px);


box-shadow:
0 0 50px #06b6d4;

}



h1{

font-family:'Cinzel';

font-size:60px;

}


h1 span{

color:#22d3ee;

}


p{

font-size:20px;

margin:25px;

}



button{


background:

linear-gradient(
90deg,
#f5deb3,
#d6b87c
);


border:

2px solid white;


padding:16px 40px;


border-radius:30px;


font-weight:bold;


cursor:pointer;


transition:.4s;

}



button:hover{

transform:scale(1.08);

box-shadow:0 0 30px #22d3ee;

}




.pages{

text-align:center;

}



h2{

font-family:'Cinzel';

font-size:40px;

}



.roman{

font-family:'Cinzel';

font-size:30px;

margin:20px;

color:#f5deb3;

}




.library{

display:flex;

gap:30px;

justify-content:center;

flex-wrap:wrap;

padding:50px;

}



.card{

width:300px;

padding:30px;


background:

rgba(255,255,255,.08);


border:

1px solid white;


border-radius:30px;


text-align:center;


}



.cover{

height:180px;

font-size:70px;

display:flex;

align-items:center;

justify-content:center;

background:#111827;

border-radius:20px;

margin-bottom:20px;

}



footer{

text-align:center;

padding:40px;

opacity:.7;

}
